body {
    margin: 0;
    box-sizing: border-box;
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
}

.wrap{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
}

.user_data {
    text-align: center;
    margin: 10px;
    border-radius: 15px;
    border: solid 3px;
    width: 60vw;
    height: 70vh;
    background: linear-gradient(90deg, #0700b8 0%, #00ff88 100%);
}

.titles{
    background: #e89c0e;
    color: #000007;
    border-radius: 5px ;
    margin-top: 12px;
    background: linear-gradient(90deg, #3F2B96 0%, #A8C0FF 100%);
}




